{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript" src="{% static '/static/siteWide/js/jquery.init.js' %}"></script> 
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/fonts.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<link href="/static/siteWide/css/formSteps.css" rel="stylesheet">
<script type="text/javascript" src="{% static '/static/siteWide/js/form.js' %}"></script>
<script>

function makeReq() {
	if($('#oldForm').is(':checked')){
		$(".makeRequire").prop('required',false);
	}
	if($('#newForm').is(':checked')){
		$(".makeRequire").prop('required',true);
	}
}

</script>
<div class="bodyContent container">
	    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
    {% endif %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h1>{{form_class}}</h1>
		{% if  isExisting %}
		<input type="radio" id="oldForm" name="selectForm" onclick="makeReq()" value="old">&nbsp;&nbsp;Choose Existing One<br/><br/>
			{% for objects in existing %}
				{{objects.name}}&nbsp;&nbsp;
				{{objects}}
			{% endfor %}
			<br/><br/><input type="radio" id="newForm" name="selectForm"  onclick="makeReq()" value="new" checked="checked">&nbsp;&nbsp;OR Fill a new one<br/><br/>
		{% endif %}
	
		 {% if form %}
			{{ form.non_field_errors }}
			{% for field in form %}
					  {% if form_class == "Experiment Clone" and 'Biosample name' in field.label %}
						<p style="color:red">CAUTION!!! Entering details below will create NEW Biosample.
							If left blank, it will use the EXISTING Biosample of the experiment being cloned.
						</p>
						<p style="color:red">Editing the Biosample after cloning will make the changes 
							in all the experiments wherever this new/existing Biosample is used.
						</p>
					  {% endif %}
				<div class="fieldWrapper">
					 {{field.errors}}
					 <a style="cursor: pointer;"><i class="fa fa-question-circle" title="{{field.help_text}}"></i></a>
					<span class="formLabel">
					  {{field.label}}{% if field.field.required %} * {% endif %}

					  {% if 'add' in field.label_tag %}					  
					   <a href="{% url field.label_tag|cut:field.label|striptags prj_pk=ProjectId %}" class="add-another" id="add_{{field.auto_id}}" onclick="return showAddAnotherPopup(this);"></a>
					  {% endif %}
					  </span>
					 {% if field.help_text == "JsonObjField" %}
					  <span class="jsonForm">
					  		{{field}}
					  </span>
					  {% else %}
					  	{{field}}
					  {% endif %}
			  	</div>
				{% endfor %}
				{% if form_class == "Experiment" %}
				<button type="button" id="autoPop" class="btn btn-link pull-right">Auto populate fields with in situ Hi-C details</button><br/><br/>
				{% endif %}
				{% if form_class == "Import Sequencing Files" %}
				<a type="button" class="btn btn-warning pull-right" href="{% url 'downloadFile' %}">Download sample csv file</a>
				{% endif %}
				{% if form_class == "Import Nanopore Data" %}
				<a type="button" class="btn btn-warning pull-right" href="{% url 'downloadFileNanopore' %}">Download sample csv file</a>
				{% endif %}
				{% if jsonObj %}
					  	<input type="text" class ="hidden" id = "jso" value="{{jsonObj}}">
				{% endif %}
				<div class="inner"></div>
			{% endif %}
			<input type="submit" value="Submit" />
		</div>
	</form>
{% endblock %} 