{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
 <script src="{% static "siteWide/js/show.js" %}"></script> 
<div class="bodyContent container">
{% if project %}
<span class="tableHead">
	Project: {{ project.project_name }}
</span>
 {% endif %}
 <br/> <br/>
 {% if expSet %}
<span class="tableHead">
  Experiment Details
</span>
{% if messages %}
        {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
{% endif %}
<br/>**If nothing is selected by default it will take all experiments<br/>
<form method="POST">
  {% csrf_token %}
  <span class="pull-right">
  <a href="/detailProject/{{ project.id }}">
  <button type="button" class="btn btn-info">Back to project</button>
</a>
  <button type="submit" class="btn btn-success" formaction="/exportDCIC/{{ project.id }}/">Export- DCIC</button>
 <button type="submit" class="btn btn-success view_only" formaction="/dcicFinalizeSubmission/{{ project.id }}/">Finalize DCIC Submission</button>
 <button type="button" class="btn btn-danger" id="unselect">Unselect All</button>
 </span><br/><br/>

{% for key, value in expSet.items %}
<p>Experiment Set: {{key}}</p>
<table class="table table-bordered table-hover table-responsive">
      <tr>
          
          <td class="col-xs-6"><span class="rowHead">DCIC Export or Finalize DCIC Submission</span><br/>
          <input type="checkbox" id="checkAll{{key.id}}" checked/> Uncheck/Check all
          </td>
        <td><span class="rowHead">Experiments</span></td>
      </tr>
      
    {% for exp in value %}
		<tr>
			<td><input type="checkbox" name="dcic{{key.id}}" value="{{exp.id}}" checked><br></td>
			<td><a href="/detailExperiment/{{project.id}}/{{exp.id}}">{{exp}}</a></td>
  		</tr>
    {% endfor %}
    <script>
      $(document).ready(function(){
      $("#checkAll{{key.id}}").change(function () {
            $("input:checkbox[name=dcic{{key.id}}]").prop('checked', $(this).prop("checked"));
        });
      });
    </script>
 </table>
 {% endfor %}
</form>
{% else %}
    <p>No data available.</p>
{% endif %}
<br/><br/>
</div>
{% endblock %} 

