{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

 <script src="{% static "siteWide/js/show.js" %}"></script> 
{% if target %}
<div class="bodyContent container">
<a href="#">
		<button type="button" class="btn btn-warning edit pull-right view_only">Edit</button>
	</a>
    <span class="tableHead">
    	Target Details:<br/> 
    </span>
    <a href="/deleteTarget/{{ target.id }}">
	<button type="button" class="btn btn-danger pull-right hidden show">Delete Target</button>
	</a>
	<a href="/editTarget/{{target.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit Target</button>
	</a>
	<br/>
	<span class="rowHead">Targeted Genes: </span>{{target.targeted_genes}}<br/>
	<span class="rowHead">Targeted Region: </span>
	{% if not target.document  == None %}
		<a href="/detailGenomicRegions/{{target.targeted_region}}">{{target.targeted_region}}</a>
	{% endif %}<br/>
		<span class="rowHead">Target URL: </span>{{target.url}}<br/>
		<span class="rowHead">Target Documents: </span>
		{% if not target.document  == None %}
			<a href="/detailDocument/{{target.documents.id}}">{{target.document}}</a>
		{% endif %}<br/>
		<span class="rowHead">Target References: </span>
		{% if not target.references  == None %}
			<a href="/detailPublication/{{target.references.id}}">{{target.references}}</a>
		{% endif %}<br/>
			<span class="rowHead">Target DBxrefs: </span>{{target.dbxrefs}}<br/>			
		{% else %}
    <p>No data available.</p>
{% endif %}
<a type="button" class="btn btn-warning pull-right goBack" href="{% url 'detailExperiment' request.session.experimentId %}">Go Back</a>
<br/><br/>
</div>
{% endblock %} 

