{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

 <script src="{% static "siteWide/js/show.js" %}"></script> 
{% if target %}
<div class="bodyContent container">
<!--<a href="#">
		<button type="button" class="btn btn-warning edit pull-right view_only">Edit</button>
	</a>-->
    <span class="tableHead">
    	Target Details:<br/> 
    </span>
    <a href="/deleteTarget/{{prj_pk}}/{{exp_pk}}/{{ target.id }}">
	<button type="button" class="btn btn-danger pull-right hidden show">Delete Target</button>
	</a>
	<a href="/editTarget/{{prj_pk}}/{{exp_pk}}/{{target.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show">Edit Target</button>
	</a>
	<br/>
	<span class="rowHead">Targeted Name: </span>{{target.target_name}}<br/>
	<span class="rowHead">Targeted Genes: </span>{{target.targeted_genes}}<br/>
	<span class="rowHead">Targeted Region: </span>
	{% if not target.document  == None %}
		<a href="/detailGenomicRegions/{{prj_pk}}/{{exp_pk}}/{{target.targeted_region.id}}">{{target.targeted_region}}</a>
	{% endif %}<br/>
		<span class="rowHead">Target URL: </span>{{target.url}}<br/>
		<span class="rowHead">Target Documents: </span>
		{% if not target.document  == None %}
			<a href="/detailDocument/{{prj_pk}}/{{exp_pk}}/{{target.document.id}}">{{target.document}}</a>
		{% endif %}<br/>
		<span class="rowHead">Target References: </span>
		{% if not target.references  == None %}
			<a href="/detailPublication/{{prj_pk}}/{{exp_pk}}/{{target.references.id}}">{{target.references}}</a>
		{% endif %}<br/>
			<span class="rowHead">Target DBxrefs: </span>{{target.dbxrefs}}<br/>	
		{% if target.contributing_labs.all%}
		<span class="rowHead">Contributing Labs:</span><br/>
		{% for values in target.contributing_labs.all %}
			    	({{ forloop.counter }}) {{values}}<br/>
		{% endfor %}
		{% endif %}		
		{% else %}
    <p>No data available.</p>
{% endif %}
<a type="button" class="btn btn-warning pull-right goBack" onclick="history.back()">Go Back</a>
<br/><br/>
</div>
{% endblock %} 

