{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

 <script src="{% static "siteWide/js/show.js" %}"></script> 
{% if document %}
<div class="bodyContent container">
<a href="#">
		<button type="button" class="btn btn-warning edit pull-right">Edit</button>
	</a>
    <span class="tableHead">
    	Document Details: {{ document.publication_title }}
    </span>
    <a href="/deleteDocument/{{ document.id }}">
	<button type="button" class="btn btn-danger pull-right hidden show view_only">Delete Document</button>
	</a>
	<a href="/editDocument/{{document.id}}">
		<button type="button" class="btn btn-warning pull-right hidden show view_only">Edit Document</button>
	</a>
	<br/>
    	<span class="rowHead">Document Abstract:</span>{{ document.description }}<br/>
    	<span class="rowHead">Document Type:</span>{{ document.type }}<br/>
    	
    	{% if not document.attachment  == None %}
    	<span class="rowHead">Document Attachment:</span><a href="/media/{{ document.attachment }}">{{ document.attachment }}</a><br/>
    	{% endif %}
    	
    	{% if not document.references  == None %}
    	<span class="rowHead">Document References:</span><a href="/detailPublication/{{ document.references.id}}">{{ document.references }}</a><br/>
    	{% endif %}
    	<span class="rowHead">Document URL:</span>{{ document.url }}<br/>
    	
    	{% if document.contributing_labs.all%}
		<span class="rowHead">Contributing Labs:</span><br/>
		{% for values in document.contributing_labs.all %}
			    	({{ forloop.counter }}) {{values}}<br/>
		{% endfor %}
		{% endif %}
		
		{% else %}
    <p>No data available.</p>
{% endif %}
<a type="button" class="btn btn-warning pull-right goBack" href="{% url 'detailExperiment' request.session.experimentId %}">Go Back</a>
<br/><br/>
</div>
{% endblock %} 

