{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
<script src="{% static "/static/siteWide/js/jquery.init.js" %}"></script> 
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/fonts.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
  <link href="/static/siteWide/css/formSteps.css" rel="stylesheet">
<script type="text/javascript" src="/static/siteWide/js/editForm.js"></script>
<script>
function makeReq() {
	if($('#oldForm').is(':checked')){
		$(".makeRequire").prop('required',false);
	}
	if($('#newForm').is(':checked')){
		$(".makeRequire").prop('required',true);
	}
}
</script>
<div class="bodyContent container">
	    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
    {% endif %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% if caution  %}
						<p style="color:red"> 
							CAUTION!!! Changing name will NOT create a new Biosample, existing Biosample will be renamed.
							Making changes here will make changes in the all the Experiments 
							where this biosample is used.
						</p>
		{% endif %}
		<h1>{{form_class}}</h1>
		{% if  isExisting %}
		<input type="radio" id="oldForm" name="selectForm" onclick="makeReq()" value="old">&nbsp;&nbsp;Choose Existing One<br/><br/>
			{% for objects in existing %}
				{{objects.name}}&nbsp;&nbsp;
				{{objects}}
			{% endfor %}
			<br/><br/><input type="radio" id="newForm" name="selectForm"  onclick="makeReq()" value="new" checked="checked">&nbsp;&nbsp;OR Fill a new one<br/><br/>
		{% endif %}
		
		 {% if form %}
			{{ form.non_field_errors }}

			{% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}


			{% for field in form.visible_fields %}
				<div class="fieldWrapper">
					 {{field.errors}}
					 <a style="cursor: pointer;"><i class="fa fa-question-circle" title="{{field.help_text}}"></i></a>
					<span class="formLabel">
					  {{field.label}} {% if field.field.required %} * {% endif %}
					  
					  {% if 'add' in field.label_tag %}
					   <a href="{% url field.label_tag|cut:field.label|striptags prj_pk=ProjectId %}" class="add-another" id="add_{{field.auto_id}}" onclick="return showAddAnotherPopup(this);"></a>
					  {% endif %}
					  
					  </span>
					  	{% if field.help_text == "JsonObjField" %}
					  <span class="jsonForm">
					  		{{field}}
					  </span>
					  {% elif field.help_text == "AnalysisField" %}
					  <span class="jsonAnalysis">
					  		{{field}}
					  </span>
					  {% else %}
					  	{{field}}
					  {% endif %}
			  	</div>
				{% endfor %}
				{% if jsonObj %}
					  	<input type="text" class ="hidden" id = "jsonForm" value="{{jsonObj}}">
				{% endif %}
				<div class="inner"></div>
			{% endif %}
			<input type="submit" value="Submit" />
		</div>
	</form>
{% endblock %} 