{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
 <script src="{% static "siteWide/js/show.js" %}"></script>
  
<div class="bodyContent container">
{% if project %}
<span class="tableHead">
	Project: {{ project.project_name }}
</span>
 {% endif %}
 <br/> <br/>
 {% if runDict %}
<span class="tableHead">
	Importing following files:
</span>
{% if messages %}
        {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
{% endif %}
<table class="table table-bordered table-hover table-responsive">
      <tr>
      	  <td class="col-xs-1"><span class="rowHead">Number</span></td>
          <td class="col-xs-2"><span class="rowHead">Experiment Name</span></td>
          <td class="col-xs-2"><span class="rowHead">Sequencing run</span></td>
          <td class="col-xs-7"><span class="rowHead">File Name</span></td>
      </tr>
	 {% for key, values in runDict %}
	 <tr>
		  <td class="col-xs-1">{{ forloop.counter }}</td>
		  {% for v in  values%}
		  <td class="col-xs-2">{{v}}</td>
          {% endfor %}
          <td class="col-xs-7">{{key}}</td>
  		</tr>
    {% endfor %}
 </table>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" id="runDictionary" name="runDict" value="{{runDict}}">
 	<button type="submit" id="import" class="btn btn-success" formaction="/createSequencingFiles/{{ project.id }}/">Yes! That's correct</button>
 	<a href="/detailProject/{{project.id}}/">
		<button type="button" class="btn btn-success">No! cancel</button>
	</a>
</form>
	
{% else %}
    <p>No data available.</p>
{% endif %}
<br/><br/>
</div>
{% endblock %}

